* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* background: linear-gradient(70deg, #fc466b 0%, #3f5efb 100%); */
    background-image: url(software-developer-6521720_640.jpg);
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    background-size: cover;
    background-position: center;
    
}
/* Sign-up-form */
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: transparent;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius:4px;
    border: solid white;
    margin-top: 10rem;
}
.sign-up-form h1 {
    color: rgb(249, 249, 55);
    margin-bottom: 30px;
    
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid#999;
    outline: none;

}
button
{
    color:  #fff;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn
{
    background-color: #1c8adb;
}
.twitter-btn{
    background-color: #21afde;
}
a {
    color: #ffffff;
    text-decoration-color: yellowgreen;
}
hr {
   margin-top: 20px;
   margin-left: 25px;
   width: 80%;
}
.or {
    background:black;
    width: 30px;
    margin: -12px auto 10px;
}
.user-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 3.5rem;
    background: transparent;    
}
